LASTFM_API_KEY=your_lastfm_api_key_here
LASTFM_API_SECRET=your_lastfm_api_secret_here
LASTFM_BASE_URL=https://ws.audioscrobbler.com/2.0/
MSD_DATA_PATH=./data/raw/msd
MODEL_PATH=./data/models
DATABASE_URL=postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres
CORS_ORIGINS=["http://localhost:3000","http://localhost:8000","http://127.0.0.1:5500"]
DEBUG=true
